---
version: "2.1"
services:
  duckdns:
    image: lscr.io/linuxserver/duckdns:latest
    container_name: duckdns
    environment:
      - PUID="${UID}"
      - PGID="${GID}"
      - SUBDOMAINS="${SUBDOMAIN}"
      - TOKEN=token
      - UPDATE_IP=ipv4
      - LOG_FILE=false
    volumes:
      - ./duckdns:/config
    restart: unless-stopped