# AWS config
region = "ap-south-2"

# AMI config
ami_id       = "ami-05ee875a6841a8ca0"
ami_username = "ec2-user"

# Gateway config
create_aws_instance     = false
wireguard_port          = 51820
instance_type           = "t3.nano"
gateway_public_key      = "~/.ssh/id_rsa.pub"
gateway_private_key     = "~/.ssh/id_rsa"
custom_gateway_ip       = "100.200.155.215"
custom_gateway_username = "centos"
aws_user_data           = <<-EOF
  #!/bin/bash
  yum -y update
  amazon-linux-extras install epel
  yum -y install wireguard-tools docker fail2ban python3
  systemctl enable docker
  systemctl start docker
  systemctl enable fail2ban
  systemctl start fail2ban
  EOF

# Proxmox config
PROXMOX_API_ENDPOINT = "https://192.168.0.103:8006/api2/json"
PROXMOX_USERNAME     = "root"
PROXMOX_PASSWORD     = "password"
PROXMOX_IP           = "192.168.0.103"
DEFAULT_BRIDGE       = "vmbr0"
TARGET_NODE          = "pve"
TEMPLATE_STORAGE     = "local"

# Proxy config
proxy_public_key       = "~/.ssh/id_rsa.pub"
proxy_private_key      = "~/.ssh/id_rsa"
proxy_memory           = 2048
proxy_cores            = 2
proxy_sockets          = 1
proxy_power_onboot     = true
redownload_proxy_image = false

# DuckDNS config
duckdns_domain = "ingress.duckdns.org"
duckdns_token  = "TOKEN"