[Interface]
PrivateKey = {{ private_key | trim }}
Address = 10.20.0.2/24

[Peer]
PublicKey = {{ public_key | trim }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ duckdns_domain }}:{{ wireguard_port }}
PersistentKeepalive = 25
