[Interface]
Address = 10.20.0.1/24
SaveConfig = true
PostUp = /etc/wireguard/helper/add-nat-routing.sh
PostDown = /etc/wireguard/helper/remove-nat-routing.sh
ListenPort = {{ wireguard_port }}
PrivateKey = {{ private_key | trim }}

[Peer]
PublicKey = {{ public_key | trim }}
AllowedIPs = 10.20.0.2/32
PresharedKey = {{ preshared_key | trim }}