{
    admin off
    email {{ ssl_email }}
}

http://{{ duckdns_domain }} {
    redir https://{{ duckdns_domain }}{uri} permanent
}

https://{{ duckdns_domain }} {
    encode zstd gzip
    reverse_proxy http://10.20.0.2:80
}
